CPE_API_BASE_URL=http://cpe.loquieroaca.com
CPE_PROMOTION_CATALOG_PATH=/promotions/catalogs
MADRE_API_BASE_URL=https://api.madre.loquieroaca.com
AUTH_API_BASE_URL=https://auth.api.loquieroaca.com
JWT_SECRET=change-me
CPE_API_TIMEOUT_MS=45000
